body {
    background-color: #F6F7F8;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    background-color: white;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
    font-size: 13px;
    line-height: 20px;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1104px;
}

.header_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 583px;
}

.header_label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 151px;
    height: 34px;
}

.header_tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 384px;
}

.header_tab {
    color: rgba(0, 0, 0, 0.54);
    font-style: normal;
}

.header_tabs a {
    padding-top: 19px;
    padding-bottom: 23px;
}

.header_tabs a:hover {
    border-bottom: 2px solid #666;
}

.header_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 69px;
    cursor: pointer;
}

.header_loggedOut {
    color: #336FEE;
    text-align: right;
}

#wrapper {
    max-width: 1104px;
    max-height: 3400px;
    margin: auto;
}

h1 {
    font-size: 44px;
    font-weight: 900;
    line-height: 48px;
    margin-top: 76px;
    margin-bottom: 48px;
}

#h1-main {
    margin-bottom: 24px;
}

.introduction p {
    margin-top: 0px;
    margin-bottom: 40px;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

.button {
    background-color: #FFDD2D;
    color: black;
    width: 150px;
    height: 56px;
    border-radius: 8px;
    padding: 16px, 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: #FCC521;
    cursor: pointer;
}

.button:active {
    background-color: #FAB619;
    cursor: pointer;
}

.intro-elem,
.purpose {
    display: flex;
    justify-content: center;
}

.purpose ul {
    margin-left: 48px;
    margin-top: 48px;
    text-align: left;
}

ul {
    list-style-image: url("img/Bullit.png");
    padding-left: 1.5em;
}

li {
    padding-bottom: 12px;
}

.program .card h2 {
    margin: 0;
    margin-bottom: 16px;
}

.card h2 {
    margin: 0;
    margin-bottom: 12px;
}

.card p {
    margin: 0;
}

.card ul {
    margin: 0;
}

li:last-child {
    padding-bottom: 0;
}

.card {
    background-color: #FFFFFF;
    border-radius: 24px;
    text-align: left;
    padding: 32px;

}

.get-in .card {
    text-align: center;
}

.program {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 48px;
}

.process,
.free {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
}

ol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 48px;
}

.free img {
    margin-bottom: 44px;
}

ol {
    list-style-type: none;
    counter-reset: num;
    margin: 0;
    padding: 0;
}

ol li {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 10px 0;
}

ol li:before {
    content: counter(num);
    counter-increment: num;
    width: 56px;
    height: 56px;
    text-align: center;
}

ol li:before {
    position: absolute;
    top: -28px;
    left: 92px;
    width: 56px;
    height: 56px;
    color: #FFFFFF;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 32px;
    font-size: 24px;
    border-radius: 16px;
}

.footer {
    display: flex;
    justify-content: center;
    height: 192px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_rectangle {
    display: flex;
    justify-content: center;
}

.footer_text {
    width: 1104px;
    height: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.footer_author {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(0, 0, 0, 0.54);
}

.footer_questions {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: right;
    color: rgba(0, 0, 0, 0.54);
}

.footer_mail {
    color: rgba(51, 111, 238, 1);
}